body {
    font-family: monospace;
}

h1 {
    font-size: 4em;
}

.cardHolder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    font-size: 1rem;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    height: 200px;
    width: 50%;
    text-align: center;
    justify-self: center;
    padding: 10px;
    margin-top: 8px;
    max-width: 150px;
}

.card:hover {
    border-color: #5ac1ff;
}

.remove {
    bottom: 10px;
    top: 10px;
    background-color: #ff4500;
    border: 0px;
    border-radius: 4px;
    grid-row: 8 / 11;
}

.text {
    grid-row: 1 / 6;
}

#addNew {
    position: fixed;
    top: 30px;
    right: 40px;
    rotate: 0;
    transition: rotate 500ms ease, background-color 500ms;
    background-color: #5ac1ff;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    text-align: center;
    border: 0 solid transparent;
    border-radius: 100%;
}

#addNew::after {
    background-color: #ffffff;
    content: "";
    border-radius: 18%;
    position: absolute;
    width: 8px;
    height: 28px;
    top: 11px;
    right: 20px;
}

#addNew::before {
    background-color: #ffffff;
    content: "";
    border-radius: 18%;
    position: absolute;
    width: 8px;
    height: 28px;
    top: 11px;
    right: 20px;
    transform: rotate(90deg);
}

form {
    position: fixed;
    top: 90px;
    right: -350px;
    background-color: #ffffff;
    z-index: 5;
    --text-color: #afafaf;
    color: var(--text-color);
    max-width: 500px;
    border: 2px solid #d3d3d3;
    padding: 0 20px 20px 20px;
    border-radius: 6px;
    transition: right 500ms ease;
}

.field {
    width: 100%;
    position: relative;
    border-bottom: 2px dashed var(--text-color);
    margin: 4rem auto 1rem;
}

.label {
    color: var(--text-color);
    font-size: 1.2rem;
}

.input {
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.input:valid {
    color: #5ac1ff;
}

.input:invalid {
    color: #ff4500;
}

.field::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: #5ac1ff;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
    top: 2px;
}

.field:focus-within {
    border-color: transparent;
}

.field:focus-within::after {
    transform: scaleX(1);
}

.label {
    z-index: -100;
    position: absolute;
    transform: scale(1) translateY(-2rem);
    transform-origin: 0%;
    transition: transform 500ms;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-5rem);
}

.input:not(:placeholder-shown) ~ .label {
    transform: scale(0.8) translateY(-5rem);
}

#radio {
    padding: 15px;
}
